In [1]:
import pandas as pd

In [5]:
train_df = pd.read_csv(r'C:\Users\SHAM\OneDrive\miniproject\telugu_train_2024\telugu_ilsum_2024_train.csv' , encoding='utf-8')
valid_df = pd.read_csv(r'C:\Users\SHAM\OneDrive\miniproject\telugu_val_2024\telugu_ilsum_2024_val.csv' , encoding='utf-8')

In [6]:
test_df=pd.read_csv(r'C:\Users\SHAM\OneDrive\miniproject\telugu_test_2024\telugu_ilsum_2024_test_without_summary.csv', encoding='utf-8')

In [7]:
train_df

,id,Heading,Summary,Article
0,telugu_2024_train_0,రాజుల కాలం నాటి నీటి తొట్టె.. మీరు ఎప్పుడైనా చ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...
1,telugu_2024_train_1,Vikarabad: ‘‘నా భార్య ఆచూకీ కనిపెట్టకపోతే మేమం...,"తన భార్య ఆచూకీ పోలీసులు కనిపెట్టడం లేదని , పోల...",గత మూడు నెలల (Three months) నుంచి తన భార్య ఆచూ...
2,telugu_2024_train_2,Osmania University: ఉస్మానియా యూనివర్సిటీ రణరం...,ఉస్మానియా యూనివర్సిటీ (Osmania university) రణర...,హైదరాబాద్​లోని ఉస్మానియా యూనివర్సిటీ (Osmania ...
3,telugu_2024_train_3,CPI Narayana: సీఎం జగన్ పై సీపీఐ నారాయణ సంచలన ...,ఆంధ్రప్రదేశ్ (Andhra Pradesh) ముఖ్యమంత్రి వైఎస...,ఆంధ్రప్రదేశ్\n(Andhra Pradesh)\nముఖ్యమంత్రి వై...
4,telugu_2024_train_4,"YCP Siddham: TDP,జనసేన,BJP పొత్తు ఓటమికి చిహ్న...",YCP Siddham: అద్దంకి మేదరమెట్ల(Medarametla)లో ...,ఆంధ్రప్రదేశ్(Andhra Pradesh) లో అసెంబ్లీ ఎన్ని...
...,...,...,...,...
9578,telugu_2024_train_9578,Crime news : కొత్తగా పెళ్లి చేసుకొని భర్తతో వె...,Crime news : కొత్తగా పెళ్లి చేసుకొని ఇంటికి తె...,"(P.Srinivas,New18,Karimnagar)అమ్మాయి, అబ్బాయి ..."
9579,telugu_2024_train_9579,147 years of BSE: మర్రి చెట్టుకింద ప్రారంభమైన ...,భారతదేశంతో పాటు ఆసియాలోనే పురాతన స్టాక్ ఎక్స్ఛ...,భారతదేశంతో పాటు ఆసియాలోనే పురాతన స్టాక్ ఎక్స్ఛ...
9580,telugu_2024_train_9580,Prepaid Plans: రూ.25 ధరలో కొత్త రీచార్జ్ ప్లాన...,Vodafone Idea | టెలికం కంపెనీల్లో ఒకటైన వొడాఫో...,Vi Plans | దేశంలోని మూడో అతిపెద్ద టెలికం కంపెన...
9581,telugu_2024_train_9581,Health Care : ఆలుగడ్డ జ్యూస్ అద్భుతాలు.. దీని ...,బంగాళ దుంపలు అంటే ఇష్టపడని వారు ఉండరు. దీనితో ...,మీ నగరాన్ని ఎంచుకోండి రాష్ట్రం బంగాళదుంపను కూర...
9582,telugu_2024_train_9582,ఆ ఊరికి ఆ పేరు రావడానికి జమ్మి చెట్టే కారణం......,ఒక ఊరికి పేరు రావడానికి జమ్మి చెట్టు కారణం. ఆ ...,"కొన్ని గ్రామాల పేర్లు, కొన్ని ప్రాంతాల పేర్లు ..."

In [8]:
valid_df

,id,Heading,Summary,Article
0,telugu_2024_val_0,Mrunal Thakur:నాని సినిమాకు మృణాల్ తీసుకుంటున్...,సీతారామం సినిమాతో తెలుగు ప్రేక్షకుల్ని పలకరించ...,సీతా రామం సినిమాలో సీత పాత్రలో అందంగా కనిపించి...
1,telugu_2024_val_1,కొత్త సాగువైపు రైతుల చూపు.. లాభాల ఎలా ఉన్నాయంట...,కలప సాగులో ప్రధానంగా సుబాబుల్ పంటలు ఆశాజనకంగా ...,"Naveen Kumar, News18, Nagarkurnool రైతులకు వర్..."
2,telugu_2024_val_2,Hyderabad: దుర్గా మాత చెప్పిందంటూ పెట్రోల్ పోస...,Hyderabad: హైదరాబాద్ లో ఓ మహిళ నడిరోడ్డుపై పెట...,Hyderabad: హైదరాబాద్ లో ఓ మహిళ నడిరోడ్డుపై పెట...
3,telugu_2024_val_3,TDP | Lokesh: టీడీపీ నేతకు వెరైటీగా బర్త్ డే వ...,Nara Lokesh: నారా లోకేష్ బర్త్ డే సందర్భంగా అభ...,"గతంలో సినిమా హీరోలు, నటీమణులకు మాత్రమే అభిమాను..."
4,telugu_2024_val_4,Shruti Haasan: వీపుపై టాటూ చూపిస్తున్న శృతిహాస...,Shruti Haasan: టాలీవుడ్ స్టార్ హీరోయిన్ శృతిహా...,మీ నగరాన్ని ఎంచుకోండి టాలీవుడ్ స్టార్ హీరోయిన్...
...,...,...,...,...
1060,telugu_2024_val_1060,IND vs AUS 2nd T20 : జైస్వాల్ వీర విహారం.. దంచ...,IND vs AUS 2nd T20 : తిరువనంతపురం వేదికగా ఆస్ట...,IND vs AUS 2nd T20 : తిరువనంతపురం వేదికగా ఆస్ట...
1061,telugu_2024_val_1061,Venkateswara Temple: శ్రీ వెంకటేశ్వర స్వామి మొ...,మొదటగా యాగంటి క్షేత్రంలో అగస్త్య మహర్షి ఈ ప్రద...,కలియుగ దైవం శ్రీ వెంకటేశ్వర స్వామి మొట్టమొదటగా...
1062,telugu_2024_val_1062,Vastu Tips: తులసి మొక్కలో ఈ మార్పులు వస్తే.. ప...,Vastu shastra: తులసి చెట్టు జీవితంలో రాబోయే సమ...,మీ నగరాన్ని ఎంచుకోండి హిందూమతంలో తులసీ చెట్టుక...
1063,telugu_2024_val_1063,Turmeric Benefits: పసుపుతో ఎన్నో ఉపయోగాలు.. ఆ ...,Turmeric Benefits పసుపును వంటలో వేసుకోవడం ప్రత...,మీ నగరాన్ని ఎంచుకోండి రాష్ట్రం Turmeric Benefi...
1064,telugu_2024_val_1064,మరుగుదొడ్డి సమ్మిళితత మరియు లింగ సమానత్వం నడుమ...,సమ్మిళిత మరుగుదొడ్లు శారీరిక విధులకు సంబంధించి...,జగమెరిగిన మరియు పలు మార్లు వక్కాణించిన ఉపాఖ్యా...

In [9]:
test_df

,id,Heading,Article
0,telugu_2024_test_0,కర్నూలు పట్టణంలో పర్యాటక ప్రదేశాల్లో ఇదే బెస్ట...,మీ నగరాన్ని ఎంచుకోండి కర్నూలు జిల్లాలో ఉన్న పర...
1,telugu_2024_test_1,Ration Card: రేషన్ కార్డు కలిగిన వారికి భారీ శ...,మీకు రేషన్ కార్డు ఉందా? అయితే అదిరే శుభవార్త. ...
2,telugu_2024_test_2,Telangana Formation Day 2024: అట్టహాసంగా తెలంగ...,Telangana Formation Day 2024: తెలంగాణ ప్రత్యేక...
3,telugu_2024_test_3,Ram Gopal Varma : రామ్ గోపాల్ వర్మపై మహిళా కమి...,వివాదస్పద దర్శకుడు రామ్ గోపాల్ వర్మ (Ram Gopal...
4,telugu_2024_test_4,Chicken Mutton Shops: నాన్ వెజ్ లవర్స్ కి బ్యా...,మీ నగరాన్ని ఎంచుకోండి సండే వస్తే ఏం ఉన్నా లేకప...
...,...,...,...
4559,telugu_2024_test_4559,గ్రూప్-1లో మెరిసిన ప్రకాశం ఆణిముత్యాలు..!,ప్రకాశం జిల్లా (Prakasham District) కు చెందిన ...
4560,telugu_2024_test_4560,Lambasingi: లంబసింగి వస్తే ఇక్కడ బోట్ షికార్ అ...,ఉమ్మడి విశాఖపట్నం మన్యంలో శీతాకాలం వచ్చిందంటే ...
4561,telugu_2024_test_4561,ED Raids : ఢిల్లీ లిక్కర్ స్కామ్..హైదరాబాద్ సహ...,ED Raids : ఢిల్లీ కొత్త ఎక్సైజ్ విధానం(Delhi ...
4562,telugu_2024_test_4562,AP Inter Results 2023: ఏపీ ఇంటర్ విద్యార్థులకు...,మరి కొద్ది సేపట్లో ఏపీ ఇంటర్ ఫలితాలు (AP Inter...
4563,telugu_2024_test_4563,Andhra Pradesh: కన్న పేగుబంధం ముందు ఓడిన పెంచి...,"(B.Yashwanth,News18,Jaggayyapet,) ఎన్టీఆర్(NTR..."

In [10]:
train_df['Article'][0]

'పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. నీటిని నిలువ ఉంచి అవసరమైన సమయంలో నీటి ఎద్దడి ఏర్పడినప్పుడు మీరు ఉపయోగించుకుంటారు. ప్రస్తుత కాలంలో ఎన్నో రకాల నీటి నిల్వను చేసుకోవడానికి సదుపాయాలు ఉన్నాయి. అంతేగాక ఇంటి కోసం నీటిని ఉపయోగించుకోవడానికి వివిధ రకాల ట్యాంకులు అందుబాటులో ఉన్నాయి. నీటి ఎద్దడి ఏర్పడినప్పుడు వాటి నుంచి నీటిని సేకరించి మన అవసరాలకు ఉపయోగించుకుంటున్నారు ఇప్పటికీ. పాతకాలంలో నీటి ట్యాంకులు ఉండేటివి కాదు. చెరువులు, బావులు ద్వారా నీటిని తోడుకునేవారు. అయితే టెక్నాలజీ అంతగా అభివృద్ధి చెందని ఆ కాలంలోనే దూర దృష్టితో ఆలోచించి నీటి తొట్టెను కూడా నిర్మించారుఅప్పటి రాజులు. దానికి ఉదాహరణ పెనుగొండ కోటను పరిపాలించిన విజయనగర రాజులు. బెంగళూరు నుంచి 125 కిలోమీటర్ల దూరంలో ఉన్న పెనుగొండ కోట NH44 ఈ పట్టణం గుండా వెళ్తుంది. ఎవరైనా ఈ పెనుగొండ కోటను చూడాలనుకునేవారు ఈ మార్గం గుండా వెళ్ళవచ్చు. అయితే ఇక్కడ నిర్మించిన అన్ని కట్టడాలు ఎంతో దూర దృష్టితో నిర్మించినవి. అందులో ఒకటి నీటి తొట్టేదాదాపుగా భూమి మొత్తం నుంచి మూడు అడుగుల మేర రాతితో నిర్మించిన కట్టడం.మూడు అడుగుల పైనుంచి దాదాపుగా 12 అడుగుల ఎత్తు మరియు ఒక నీటి తొట్టెను నిర్మించారు. ఈ నీటి తొట్టెను సున్నపురాయి, ముగ్గురాయి,ఇసుక ఉపయోగించి అత్యంత ప్రతిష్టంగా ఎటువంటి డ్యామేజ్ లేకుండా నీటి లీకేజీ లేకుండా నిర్మించారు. ఇది అప్పటి రాజుల పనితనానికి నిదర్శనం. నీటి ఎద్దడి ఏర్పడిన సమయంలో ఈ ట్యాంక్ నుంచి నీటిని సేకరించి ఉపయోగించుకునేవారు. నీటి తొట్టేతోపాటు అత్యంత అద్భుతంగా బావులు కూడా నిర్మించారు. ఈ బావుల నుంచి నీటిని సేకరించి త్రాగడానికి ఉపయోగించేవారు అప్పటి ప్రజలు.'

In [11]:
train_df['Summary'][0]

'పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. నీటిని నిలువ ఉంచి అవసరమైన సమయంలో నీటి ఎద్దడి ఏర్పడినప్పుడు మీరు ఉపయోగించుకుంటారు.'

In [13]:
train_df['Summary'][2]

'ఉస్మానియా యూనివర్సిటీ (Osmania university) రణరంగంగా మారింది. వర్సిటీ క్యాంపస్\u200bలో టీఆర్ఎస్ పార్టీ (TRS Party)కి చెందిన ప్లెక్సీలు రాత్రికి రాత్రే దర్శనమివ్వడంతో ఈ ఉద్రిక్తతకు కారణమయ్యింది.'

In [14]:
train_df['Article'][2]

'హైదరాబాద్\u200bలోని ఉస్మానియా యూనివర్సిటీ (Osmania university) రణరంగంగా మారింది. వర్సిటీ క్యాంపస్\u200bలో టీఆర్ఎస్ పార్టీ (TRS Party)కి చెందిన ప్లెక్సీలు రాత్రికి రాత్రే దర్శనమివ్వడంతో ఈ ఉద్రిక్తతకు కారణమయ్యింది. ఇప్పటికే ఆశించిన స్థాయిలో ఉద్యోగాల భర్తీ లేకపోవడంతో అధికార టీఆర్ఎస్ పార్టీపై పీకల దాకా కోపంతో వున్న ఓయూ విద్యార్థులు ప్లెక్సీలను చించివేసి ఆందోళనకు దిగారు. టీఆర్ఎస్ ప్లెక్సీలకే కాదు ఆ పార్టీ నాయకులు క్యాంపస్ లో అడుగుపెట్టినా ఇదే గతి పడుతుందని నిరుద్యోగ యువత హెచ్చరించారు. ఫిబ్రవరి 17న ముఖ్యమంత్రి కేసీఆర్ పుట్టినరోజు (CM KCR birthday).\xa0 ఈ సందర్భం పురస్కరించుకుని టీఆర్\u200bఎస్\u200bవీ (TRSV) ఆధ్వర్యంలో ఉస్మానియా యూనివర్సిటీలో క్రికెట్ టోర్నమెంట్ నిర్వహిస్తున్నారు. ఈ టోర్నమెంట్ ఈనెల 28 నుంచి ప్రారంభం కానుంది. క్యాంపస్ లో అడుగుపెట్టకుండా.. ఈ ప్రారంభోత్సవ కార్యక్రమానికి కొందరు మంత్రులు, టీఆర్ఎస్ ఎమ్మెల్యేలు హాజరుకావాల్సి వుంది. ఈ క్రమంలోనే వారికి స్వాగతం పలుకుతూ ఈనెల 27న రాత్రి స్థానిక టీఆర్ఎస్ నాయకులు, ఓయూలోని టీఆర్ఎస్ విద్యార్థి విభాగానికి చెందిన పలువురు నాయకులు ప్లెక్సీలు ఏర్పాటుచేశారు. అయితే ఇవాళ ఉదయం ఈ ప్లెక్సీలను చూసిన ఓయూ విద్యార్థులు ఆగ్రహంతో వాటిని చించేసి దగ్దం చేశారు. మంత్రులు, టీఆర్ఎస్ ఎమ్మెల్యేలు క్యాంపస్ లో అడుగుపెట్టకుండా అడ్డుకుంటామని విద్యార్థులు హెచ్చరించారు. ఇందుకోసం సమాయత్తం అవుతున్నట్లు వివిధ విద్యార్థి సంఘాలు, విద్యార్థులు వెల్లడించారు. ఫ్లెక్సీ లను తగలబెట్టి తమ నిరసన వ్యక్తం చేసిన విద్యార్థి నేతలు ఉద్యోగ నోటిఫికేషన్లు వేసిన తర్వాతనే ఓయూ లో అడుగుపెట్టాలని హెచ్చరించారు. అలా కాకుండా ఓయూలో అడుగుపెడితే అడ్డుకుంటామని విద్యార్థులు టీఆర్ఎస్ నాయకులకు హెచ్చరించారు. తెలంగాణలో సీఎం కేసీఆర్ ప్రభుత్వం (CM KCR Government) రెండో సారి అధికారంలోకి వచ్చిన అనంతరం పెద్దగా జాబ్ నోటిఫికేషన్లు (Job Notifications) విడుదల కాలేదు. దీంతో నిరుద్యోగుల్లో (Unemployed) తీవ్ర అసంతృప్తి వ్యక్తమైంది. దీంతో ఏళ్లుగా ప్రభుత్వ ఉద్యోగాలే (Government Jobs) లక్ష్యంగా ప్రిపేర్ అవుతున్న అనేక మంది నుంచి ప్రభుత్వంపై అనేక విధాలుగా ఆగ్రహం వ్యక్తమవుతోంది. ప్రతిపక్షాలు సైతం ఈ అంశాన్ని అస్త్రంగా మార్చుకుని ప్రభుత్వంపై విమర్శనాస్త్రాలను ఎక్కుపెడుతున్నాయి. ఈ ప్రభావం వివిధ ఎన్నికల ఫలితాల్లో కూడా స్పష్టంగా కనిపించింది. దుబ్బాక ఉప ఎన్నికలు, జీహెచ్ఎంసీ ఫలితాలు, హుజూరాబాద్ ఉప ఎన్నికల్లోనూ టీఆర్ఎస్ కు ప్రతికూల ఫలితాలు రావడానికి ఈ అంశం కూడా ప్రధాన కారణంగా చెప్పొచ్చు. ఈ విషయాన్ని గమనించిన సీఎం కేసీఆర్ సర్కార్ నష్ట నివారణ చర్యలు చేపట్టింది. దుబ్బాక ఎన్నికల ఫలితాలు వచ్చిన వెంటనే సీఎం కేసీఆర్ త్వరలో 50 వేల ఉద్యోగాలను భర్తీ చేయనున్నట్లు ప్రకటిచారు. 2019 డిసెంబర్ లో ఆయన ఈ ప్రకటన చేశారు. 2020లో సీఎం ప్రకటన మేరకు నోటిఫికేషన్లు విడుదలవుతాయని అంతా భావించారు. అయితే, కొత్త జోనల్ విధానం ప్రకారం ఉద్యోగుల కేటాయింపు ప్రభుత్వానికి సవాల్ గా మారింది. ఉద్యోగుల కేటాయింపు పూర్తయితేనే ఖాళీల సంఖ్య పూర్తి స్థాయిలో తేలుతుందని భావించిన సర్కార్ ఆ దిశగా చర్యలు ప్రారంభించింది. అయితే, జీహెచ్ఎంసీ, ఎమ్మెల్సీ ఎన్నికలు, అనంతరం హుజూరాబాద్ ఉపఎన్నిక, మధ్యలో కరోనా సెకండ్ వేవ్ తదితర కారణాలతో ఈ ప్రక్రియ వాయిదా పడుతూ వచ్చింది. అయితే కొన్ని రోజులుగా నూతన జోనల్ విధానం, కొత్త జిల్లాల ఆధారంగా ఉద్యోగాల కేటాయింపుపై సీరియస్ గా దృష్టి సారించిన సర్కార్ సాధ్యమైనంత త్వరగా ఆ ప్రక్రియను పూర్తి చేయాలని లక్ష్యంగా పెట్టుకుంది.'

In [16]:
# Preprocess the 'Article' and 'Summary' columns in train_df and valid_df
train_df['Article'] = train_df['Article'].apply(preprocess_telugu_text)
train_df['Summary'] = train_df['Summary'].apply(preprocess_telugu_text)

valid_df['Article'] = valid_df['Article'].apply(preprocess_telugu_text)
valid_df['Summary'] = valid_df['Summary'].apply(preprocess_telugu_text)

# Preprocess the 'Article' column in test_df
test_df['Article'] = test_df['Article'].apply(preprocess_telugu_text)

# Display the first few rows of the preprocessed train_df as an example
train_df.head()

,id,Heading,Summary,Article
0,telugu_2024_train_0,రాజుల కాలం నాటి నీటి తొట్టె.. మీరు ఎప్పుడైనా చ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...
1,telugu_2024_train_1,Vikarabad: ‘‘నా భార్య ఆచూకీ కనిపెట్టకపోతే మేమం...,"తన భార్య ఆచూకీ పోలీసులు కనిపెట్టడం లేదని , పోల...",గత మూడు నెలల (Three months) నుంచి తన భార్య ఆచూ...
2,telugu_2024_train_2,Osmania University: ఉస్మానియా యూనివర్సిటీ రణరం...,ఉస్మానియా యూనివర్సిటీ (Osmania university) రణర...,హైదరాబాద్లోని ఉస్మానియా యూనివర్సిటీ (Osmania u...
3,telugu_2024_train_3,CPI Narayana: సీఎం జగన్ పై సీపీఐ నారాయణ సంచలన ...,ఆంధ్రప్రదేశ్ (Andhra Pradesh) ముఖ్యమంత్రి వైఎస...,ఆంధ్రప్రదేశ్ (Andhra Pradesh) ముఖ్యమంత్రి వైఎస...
4,telugu_2024_train_4,"YCP Siddham: TDP,జనసేన,BJP పొత్తు ఓటమికి చిహ్న...",YCP Siddham అద్దంకి మేదరమెట్ల(Medarametla)లో న...,ఆంధ్రప్రదేశ్(Andhra Pradesh) లో అసెంబ్లీ ఎన్ని...

In [17]:
# %%
# %%
from transformers import AutoTokenizer, AutoModel

In [18]:



# %%

# %%
import torch
import numpy as np
from tqdm import tqdm

In [19]:

# %%


# %%
model_name = "ai4bharat/IndicBERTv2-MLM-only"

In [20]:

# %%

# %%
tokenizer = AutoTokenizer.from_pretrained(model_name)

In [21]:



# %%

# %%
model = AutoModel.from_pretrained(model_name)
#model.eval()

In [22]:


# %%


# %%
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model = model.to(device)

In [23]:


# %%

# %%
import torch
import numpy as np
import pandas as pd
from transformers import AutoTokenizer, AutoModel
from sklearn.metrics.pairwise import cosine_similarity
from tqdm import tqdm

In [35]:

# Mean-pooling based sentence embeddings
def get_sentence_embeddings(sentences, batch_size=32, max_len=128):
    embeddings = []
    for i in range(0, len(sentences), batch_size):
        batch = sentences[i:i+batch_size]
        encoded = tokenizer(batch, return_tensors="pt", padding=True, truncation=True, max_length=max_len)
        encoded = {k: v.to(device) for k, v in encoded.items()}
        with torch.no_grad():
            output = model(**encoded)
        batch_embeds = output.last_hidden_state.mean(dim=1).cpu().numpy()
        embeddings.extend(batch_embeds)
    return np.array(embeddings)

# Simple TextRank based on similarity sum
def textrank_summary(sentences, embeddings):
    if not sentences:
        return []
    top_k = max(1, int(len(sentences) * 0.60))
    if len(sentences) == 1:
        return sentences
    if len(sentences) <= top_k:
        return sentences
    sim_matrix = cosine_similarity(embeddings)
    scores = sim_matrix.sum(axis=1)
    ranked_ids = np.argsort(scores)[::-1]
    selected = sorted(ranked_ids[:top_k])
    return [sentences[i] for i in selected]

# Process a batch of rows from the DataFrame

 #Ensure the summarize_batch function returns summaries correctly
def summarize_batch(df_batch, text_col="Article"):
    summaries = []
    for sentences in df_batch[text_col]:
        if not sentences:
            summaries.append("")
            continue
        if isinstance(sentences, str):
            sentences = [sentences]
        embeddings = get_sentence_embeddings(sentences)
        summary = textrank_summary(sentences, embeddings)
        summaries.append(" ".join(summary))
    return summaries

    #, embeddings)
     #   summaries.append(" ".join(summary))
    return summaries


# Main loop to process DataFrame in batches
def process_dataframe_in_batches(df, text_col="Article", batch_size=100):
    summaries = []
    for i in tqdm(range(0, len(df), batch_size), desc="Batch processing"):
        df_batch = df.iloc[i:i + batch_size]
        batch_summaries = summarize_batch(df_batch, text_col=text_col)
        summaries.extend(batch_summaries)
    df["extractive_summary"] = summaries
    return df

In [36]:

#
# %%
# Assuming your original DataFrame is df and it has a 'sentences' column
train_df = process_dataframe_in_batches(train_df, text_col="Article",batch_size=100)

Batch processing: 100%|██████████| 96/96 [03:01<00:00,  1.89s/it]

In [37]:
train_df['extractive_summary'][0]

'పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. నీటిని నిలువ ఉంచి అవసరమైన సమయంలో నీటి ఎద్దడి ఏర్పడినప్పుడు మీరు ఉపయోగించుకుంటారు. ప్రస్తుత కాలంలో ఎన్నో రకాల నీటి నిల్వను చేసుకోవడానికి సదుపాయాలు ఉన్నాయి. అంతేగాక ఇంటి కోసం నీటిని ఉపయోగించుకోవడానికి వివిధ రకాల ట్యాంకులు అందుబాటులో ఉన్నాయి. నీటి ఎద్దడి ఏర్పడినప్పుడు వాటి నుంచి నీటిని సేకరించి మన అవసరాలకు ఉపయోగించుకుంటున్నారు ఇప్పటికీ. పాతకాలంలో నీటి ట్యాంకులు ఉండేటివి కాదు. చెరువులు, బావులు ద్వారా నీటిని తోడుకునేవారు. అయితే టెక్నాలజీ అంతగా అభివృద్ధి చెందని ఆ కాలంలోనే దూర దృష్టితో ఆలోచించి నీటి తొట్టెను కూడా నిర్మించారుఅప్పటి రాజులు. దానికి ఉదాహరణ పెనుగొండ కోటను పరిపాలించిన విజయనగర రాజులు. బెంగళూరు నుంచి 125 కిలోమీటర్ల దూరంలో ఉన్న పెనుగొండ కోట NH44 ఈ పట్టణం గుండా వెళ్తుంది. ఎవరైనా ఈ పెనుగొండ కోటను చూడాలనుకునేవారు ఈ మార్గం గుండా వెళ్ళవచ్చు. అయితే ఇక్కడ నిర్మించిన అన్ని కట్టడాలు ఎంతో దూర దృష్టితో నిర్మించినవి. అందులో ఒకటి నీటి తొట్టేదాదాపుగా భూమి మొత్తం నుంచి మూడు అడుగుల మేర రాతితో నిర్మించిన కట్టడం.మూడు అడుగుల పైనుంచి దాదాపుగా 12 అడుగుల ఎత్తు మరియు ఒక నీటి తొట్టెను నిర్మించారు. ఈ నీటి తొట్టెను సున్నపురాయి, ముగ్గురాయి,ఇసుక ఉపయోగించి అత్యంత ప్రతిష్టంగా ఎటువంటి డ్యామేజ్ లేకుండా నీటి లీకేజీ లేకుండా నిర్మించారు. ఇది అప్పటి రాజుల పనితనానికి నిదర్శనం. నీటి ఎద్దడి ఏర్పడిన సమయంలో ఈ ట్యాంక్ నుంచి నీటిని సేకరించి ఉపయోగించుకునేవారు. నీటి తొట్టేతోపాటు అత్యంత అద్భుతంగా బావులు కూడా నిర్మించారు. ఈ బావుల నుంచి నీటిని సేకరించి త్రాగడానికి ఉపయోగించేవారు అప్పటి ప్రజలు.'

In [38]:
valid_df = process_dataframe_in_batches(valid_df, text_col="Article",batch_size=100)
test_df = process_dataframe_in_batches(test_df, text_col="Article",batch_size=100)

Batch processing: 100%|██████████| 11/11 [00:27<00:00,  2.52s/it]
Batch processing: 100%|██████████| 46/46 [01:24<00:00,  1.85s/it]

In [39]:
test_df

,id,Heading,Article,extractive_summary
0,telugu_2024_test_0,కర్నూలు పట్టణంలో పర్యాటక ప్రదేశాల్లో ఇదే బెస్ట...,మీ నగరాన్ని ఎంచుకోండి కర్నూలు జిల్లాలో ఉన్న పర...,మీ నగరాన్ని ఎంచుకోండి కర్నూలు జిల్లాలో ఉన్న పర...
1,telugu_2024_test_1,Ration Card: రేషన్ కార్డు కలిగిన వారికి భారీ శ...,మీకు రేషన్ కార్డు ఉందా అయితే అదిరే శుభవార్త. ఏ...,మీకు రేషన్ కార్డు ఉందా అయితే అదిరే శుభవార్త. ఏ...
2,telugu_2024_test_2,Telangana Formation Day 2024: అట్టహాసంగా తెలంగ...,Telangana Formation Day 2024 తెలంగాణ ప్రత్యేక ...,Telangana Formation Day 2024 తెలంగాణ ప్రత్యేక ...
3,telugu_2024_test_3,Ram Gopal Varma : రామ్ గోపాల్ వర్మపై మహిళా కమి...,వివాదస్పద దర్శకుడు రామ్ గోపాల్ వర్మ (Ram Gopal...,వివాదస్పద దర్శకుడు రామ్ గోపాల్ వర్మ (Ram Gopal...
4,telugu_2024_test_4,Chicken Mutton Shops: నాన్ వెజ్ లవర్స్ కి బ్యా...,మీ నగరాన్ని ఎంచుకోండి సండే వస్తే ఏం ఉన్నా లేకప...,మీ నగరాన్ని ఎంచుకోండి సండే వస్తే ఏం ఉన్నా లేకప...
...,...,...,...,...
4559,telugu_2024_test_4559,గ్రూప్-1లో మెరిసిన ప్రకాశం ఆణిముత్యాలు..!,ప్రకాశం జిల్లా (Prakasham District) కు చెందిన ...,ప్రకాశం జిల్లా (Prakasham District) కు చెందిన ...
4560,telugu_2024_test_4560,Lambasingi: లంబసింగి వస్తే ఇక్కడ బోట్ షికార్ అ...,ఉమ్మడి విశాఖపట్నం మన్యంలో శీతాకాలం వచ్చిందంటే ...,ఉమ్మడి విశాఖపట్నం మన్యంలో శీతాకాలం వచ్చిందంటే ...
4561,telugu_2024_test_4561,ED Raids : ఢిల్లీ లిక్కర్ స్కామ్..హైదరాబాద్ సహ...,ED Raids ఢిల్లీ కొత్త ఎక్సైజ్ విధానం(Delhi New...,ED Raids ఢిల్లీ కొత్త ఎక్సైజ్ విధానం(Delhi New...
4562,telugu_2024_test_4562,AP Inter Results 2023: ఏపీ ఇంటర్ విద్యార్థులకు...,మరి కొద్ది సేపట్లో ఏపీ ఇంటర్ ఫలితాలు (AP Inter...,మరి కొద్ది సేపట్లో ఏపీ ఇంటర్ ఫలితాలు (AP Inter...
4563,telugu_2024_test_4563,Andhra Pradesh: కన్న పేగుబంధం ముందు ఓడిన పెంచి...,"(B.Yashwanth,News18,Jaggayyapet,) ఎన్టీఆర్(NTR...","(B.Yashwanth,News18,Jaggayyapet,) ఎన్టీఆర్(NTR..."

In [40]:
train_df

,id,Heading,Summary,Article,extractive_summary
0,telugu_2024_train_0,రాజుల కాలం నాటి నీటి తొట్టె.. మీరు ఎప్పుడైనా చ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...,పాతకాలపు నీటి తొట్టెలు అద్భుతంగా నిర్మించారు. ...
1,telugu_2024_train_1,Vikarabad: ‘‘నా భార్య ఆచూకీ కనిపెట్టకపోతే మేమం...,"తన భార్య ఆచూకీ పోలీసులు కనిపెట్టడం లేదని , పోల...",గత మూడు నెలల (Three months) నుంచి తన భార్య ఆచూ...,గత మూడు నెలల (Three months) నుంచి తన భార్య ఆచూ...
2,telugu_2024_train_2,Osmania University: ఉస్మానియా యూనివర్సిటీ రణరం...,ఉస్మానియా యూనివర్సిటీ (Osmania university) రణర...,హైదరాబాద్లోని ఉస్మానియా యూనివర్సిటీ (Osmania u...,హైదరాబాద్లోని ఉస్మానియా యూనివర్సిటీ (Osmania u...
3,telugu_2024_train_3,CPI Narayana: సీఎం జగన్ పై సీపీఐ నారాయణ సంచలన ...,ఆంధ్రప్రదేశ్ (Andhra Pradesh) ముఖ్యమంత్రి వైఎస...,ఆంధ్రప్రదేశ్ (Andhra Pradesh) ముఖ్యమంత్రి వైఎస...,ఆంధ్రప్రదేశ్ (Andhra Pradesh) ముఖ్యమంత్రి వైఎస...
4,telugu_2024_train_4,"YCP Siddham: TDP,జనసేన,BJP పొత్తు ఓటమికి చిహ్న...",YCP Siddham అద్దంకి మేదరమెట్ల(Medarametla)లో న...,ఆంధ్రప్రదేశ్(Andhra Pradesh) లో అసెంబ్లీ ఎన్ని...,ఆంధ్రప్రదేశ్(Andhra Pradesh) లో అసెంబ్లీ ఎన్ని...
...,...,...,...,...,...
9578,telugu_2024_train_9578,Crime news : కొత్తగా పెళ్లి చేసుకొని భర్తతో వె...,Crime news కొత్తగా పెళ్లి చేసుకొని ఇంటికి తెచ్...,"(P.Srinivas,New18,Karimnagar)అమ్మాయి, అబ్బాయి ...","(P.Srinivas,New18,Karimnagar)అమ్మాయి, అబ్బాయి ..."
9579,telugu_2024_train_9579,147 years of BSE: మర్రి చెట్టుకింద ప్రారంభమైన ...,భారతదేశంతో పాటు ఆసియాలోనే పురాతన స్టాక్ ఎక్స్ఛ...,భారతదేశంతో పాటు ఆసియాలోనే పురాతన స్టాక్ ఎక్స్ఛ...,భారతదేశంతో పాటు ఆసియాలోనే పురాతన స్టాక్ ఎక్స్ఛ...
9580,telugu_2024_train_9580,Prepaid Plans: రూ.25 ధరలో కొత్త రీచార్జ్ ప్లాన...,Vodafone Idea టెలికం కంపెనీల్లో ఒకటైన వొడాఫోన్...,Vi Plans దేశంలోని మూడో అతిపెద్ద టెలికం కంపెనీ ...,Vi Plans దేశంలోని మూడో అతిపెద్ద టెలికం కంపెనీ ...
9581,telugu_2024_train_9581,Health Care : ఆలుగడ్డ జ్యూస్ అద్భుతాలు.. దీని ...,బంగాళ దుంపలు అంటే ఇష్టపడని వారు ఉండరు. దీనితో ...,మీ నగరాన్ని ఎంచుకోండి రాష్ట్రం బంగాళదుంపను కూర...,మీ నగరాన్ని ఎంచుకోండి రాష్ట్రం బంగాళదుంపను కూర...
9582,telugu_2024_train_9582,ఆ ఊరికి ఆ పేరు రావడానికి జమ్మి చెట్టే కారణం......,ఒక ఊరికి పేరు రావడానికి జమ్మి చెట్టు కారణం. ఆ ...,"కొన్ని గ్రామాల పేర్లు, కొన్ని ప్రాంతాల పేర్లు ...","కొన్ని గ్రామాల పేర్లు, కొన్ని ప్రాంతాల పేర్లు ..."

In [41]:
valid_df

,id,Heading,Summary,Article,extractive_summary
0,telugu_2024_val_0,Mrunal Thakur:నాని సినిమాకు మృణాల్ తీసుకుంటున్...,సీతారామం సినిమాతో తెలుగు ప్రేక్షకుల్ని పలకరించ...,సీతా రామం సినిమాలో సీత పాత్రలో అందంగా కనిపించి...,సీతా రామం సినిమాలో సీత పాత్రలో అందంగా కనిపించి...
1,telugu_2024_val_1,కొత్త సాగువైపు రైతుల చూపు.. లాభాల ఎలా ఉన్నాయంట...,కలప సాగులో ప్రధానంగా సుబాబుల్ పంటలు ఆశాజనకంగా ...,"Naveen Kumar, News18, Nagarkurnool రైతులకు వర్...","Naveen Kumar, News18, Nagarkurnool రైతులకు వర్..."
2,telugu_2024_val_2,Hyderabad: దుర్గా మాత చెప్పిందంటూ పెట్రోల్ పోస...,Hyderabad హైదరాబాద్ లో ఓ మహిళ నడిరోడ్డుపై పెట్...,Hyderabad హైదరాబాద్ లో ఓ మహిళ నడిరోడ్డుపై పెట్...,Hyderabad హైదరాబాద్ లో ఓ మహిళ నడిరోడ్డుపై పెట్...
3,telugu_2024_val_3,TDP | Lokesh: టీడీపీ నేతకు వెరైటీగా బర్త్ డే వ...,Nara Lokesh నారా లోకేష్ బర్త్ డే సందర్భంగా అభి...,"గతంలో సినిమా హీరోలు, నటీమణులకు మాత్రమే అభిమాను...","గతంలో సినిమా హీరోలు, నటీమణులకు మాత్రమే అభిమాను..."
4,telugu_2024_val_4,Shruti Haasan: వీపుపై టాటూ చూపిస్తున్న శృతిహాస...,Shruti Haasan టాలీవుడ్ స్టార్ హీరోయిన్ శృతిహాస...,మీ నగరాన్ని ఎంచుకోండి టాలీవుడ్ స్టార్ హీరోయిన్...,మీ నగరాన్ని ఎంచుకోండి టాలీవుడ్ స్టార్ హీరోయిన్...
...,...,...,...,...,...
1060,telugu_2024_val_1060,IND vs AUS 2nd T20 : జైస్వాల్ వీర విహారం.. దంచ...,IND vs AUS 2nd T20 తిరువనంతపురం వేదికగా ఆస్ట్ర...,IND vs AUS 2nd T20 తిరువనంతపురం వేదికగా ఆస్ట్ర...,IND vs AUS 2nd T20 తిరువనంతపురం వేదికగా ఆస్ట్ర...
1061,telugu_2024_val_1061,Venkateswara Temple: శ్రీ వెంకటేశ్వర స్వామి మొ...,మొదటగా యాగంటి క్షేత్రంలో అగస్త్య మహర్షి ఈ ప్రద...,కలియుగ దైవం శ్రీ వెంకటేశ్వర స్వామి మొట్టమొదటగా...,కలియుగ దైవం శ్రీ వెంకటేశ్వర స్వామి మొట్టమొదటగా...
1062,telugu_2024_val_1062,Vastu Tips: తులసి మొక్కలో ఈ మార్పులు వస్తే.. ప...,Vastu shastra తులసి చెట్టు జీవితంలో రాబోయే సమస...,మీ నగరాన్ని ఎంచుకోండి హిందూమతంలో తులసీ చెట్టుక...,మీ నగరాన్ని ఎంచుకోండి హిందూమతంలో తులసీ చెట్టుక...
1063,telugu_2024_val_1063,Turmeric Benefits: పసుపుతో ఎన్నో ఉపయోగాలు.. ఆ ...,Turmeric Benefits పసుపును వంటలో వేసుకోవడం ప్రత...,మీ నగరాన్ని ఎంచుకోండి రాష్ట్రం Turmeric Benefi...,మీ నగరాన్ని ఎంచుకోండి రాష్ట్రం Turmeric Benefi...
1064,telugu_2024_val_1064,మరుగుదొడ్డి సమ్మిళితత మరియు లింగ సమానత్వం నడుమ...,సమ్మిళిత మరుగుదొడ్లు శారీరిక విధులకు సంబంధించి...,జగమెరిగిన మరియు పలు మార్లు వక్కాణించిన ఉపాఖ్యా...,జగమెరిగిన మరియు పలు మార్లు వక్కాణించిన ఉపాఖ్యా...

In [42]:
train_df = train_df.drop(columns=['id'])
valid_df = valid_df.drop(columns=['id'])
test_df = test_df.drop(columns=['id'])

In [43]:
train_df.to_csv(r'C:\Users\SHAM\OneDrive\miniproject\telugu_train_2024\telugu_ilsum_2024_train_with_summary.csv', index=False, encoding='utf-8')
valid_df.to_csv(r'C:\Users\SHAM\OneDrive\miniproject\telugu_val_2024\telugu_ilsum_2024_val_with_summary.csv', index=False, encoding='utf-8')
test_df.to_csv(r'C:\Users\SHAM\OneDrive\miniproject\telugu_test_2024\telugu_ilsum_2024_test_with_summary.csv', index=False, encoding='utf-8')